<!DOCTYPE html>
<html>
  <head>
    <title>Over Time?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/nav' %>
          <div class="container">
            <%= js add_gritter(flash[:notice], title: "Over Time? Notification", sticky: false, time: 10000) %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
